<a href="https://colab.research.google.com/github/chilaact/quality-predict-mining-process/blob/master/regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from pandas import read_csv
data = read_csv("/content/drive/My Drive/Colab Notebooks/Quality_Prediction/MiningProcess_Flotation_Plant_Database.csv")

In [0]:
data.head()

                  date % Iron Feed  ... % Iron Concentrate % Silica Concentrate
0  2017-03-10 01:00:00        55,2  ...              66,91                 1,31
1  2017-03-10 01:00:00        55,2  ...              66,91                 1,31
2  2017-03-10 01:00:00        55,2  ...              66,91                 1,31
3  2017-03-10 01:00:00        55,2  ...              66,91                 1,31
4  2017-03-10 01:00:00        55,2  ...              66,91                 1,31

[5 rows x 24 columns]