<a href="https://colab.research.google.com/github/chilaact/quality-predict-mining-process/blob/master/regression-iqbal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Use seaborn for pairplot
!pip install -q seaborn

# Use some functions from tensorflow_docs
!pip install -q git+https://github.com/tensorflow/docs

  Building wheel for tensorflow-docs (setup.py) ... done

In [0]:
# Importing some useful modules

from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#Importing TensorFlow 2.x

%tensorflow_version 2.x

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

TensorFlow 2.x selected.
2.1.0

In [0]:
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [0]:
#Linking Drive to Colab
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
#Load the Data
data = pd.read_csv("/content/drive/My Drive/Quality_Prediction/MiningProcess_Flotation_Plant_Database.csv",
                   decimal=",",parse_dates=["date"],infer_datetime_format=True).drop_duplicates()

In [0]:
data.head()

                 date  % Iron Feed  ...  % Iron Concentrate  % Silica Concentrate
0 2017-03-10 01:00:00         55.2  ...               66.91                  1.31
1 2017-03-10 01:00:00         55.2  ...               66.91                  1.31
2 2017-03-10 01:00:00         55.2  ...               66.91                  1.31
3 2017-03-10 01:00:00         55.2  ...               66.91                  1.31
4 2017-03-10 01:00:00         55.2  ...               66.91                  1.31

[5 rows x 24 columns]

In [0]:
data.isna().sum()

date                            0
% Iron Feed                     0
% Silica Feed                   0
Starch Flow                     0
Amina Flow                      0
Ore Pulp Flow                   0
Ore Pulp pH                     0
Ore Pulp Density                0
Flotation Column 01 Air Flow    0
Flotation Column 02 Air Flow    0
Flotation Column 03 Air Flow    0
Flotation Column 04 Air Flow    0
Flotation Column 05 Air Flow    0
Flotation Column 06 Air Flow    0
Flotation Column 07 Air Flow    0
Flotation Column 01 Level       0
Flotation Column 02 Level       0
Flotation Column 03 Level       0
Flotation Column 04 Level       0
Flotation Column 05 Level       0
Flotation Column 06 Level       0
Flotation Column 07 Level       0
% Iron Concentrate              0
% Silica Concentrate            0
dtype: int64

In [0]:
data = pd.get_dummies(data, prefix='', prefix_sep='')
data.tail()

                      date  ...  % Silica Concentrate
737448 2017-09-09 23:00:00  ...                  1.71
737449 2017-09-09 23:00:00  ...                  1.71
737450 2017-09-09 23:00:00  ...                  1.71
737451 2017-09-09 23:00:00  ...                  1.71
737452 2017-09-09 23:00:00  ...                  1.71

[5 rows x 24 columns]

In [0]:
train_data = data.sample(frac=0.8,random_state=0)
test_data = data.drop(train_dataset.index)